@import url(https://fonts.googleapis.com/css?family=Inter:300,500,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 345px auto;
  gap: 135px;
}

.medium {
  font-weight: 500;
}

.photo {
  width: 264px;
  height: 264px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(/images/my-photo.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.header {
  padding-top: 50px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 16px;
}

h2 {
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 32px;
}

.personal-info h2 {
  margin-bottom: 48px;
}

.additional {
  font-size: 14px;
}

section {
  position: relative;
  padding: 48px 0;
}

header section {
  padding-bottom: 20px;
}

section::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  bottom: 0;
  position: absolute;
}

section.no-divider::after {
  display: none;
}

p.with-icon {
  padding-left: 55px;
}

p.with-icon:not(:last-child) {
  margin-bottom: 8px;
}

p.with-icon::before {
  content: "";
  position: absolute;
  left: 0;
  height: 32px;
  width: 32px;
}

p.icon-phone::before {
  content: url(/images/phone.svg);
}

p.icon-mail::before {
  content: url(/images/mail.svg);
}
p.icon-linkedin::before {
  content: url(/images/linkedin.svg);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 24px;
}

li {
  padding-left: 24px;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

.education-item:not(:last-child) {
  margin-bottom: 25px;
}

.courses-list {
  margin-bottom: 20px;
}

.code {
  margin-top: 20px;
  background-color: #f6f8fa;
  border-radius: 12px;
}
